body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

.sidebar {

    height: 100%;
    width: 150px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #000;
    overflow-x: hidden;
    padding-top: 25px;
    color: white; 
}

.sidebar a:hover {
    background-color: #fff;
    color: black;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.homebody {
    color: #000;
    background-color: teal;
}

.logos {
    width: 50px;
    height: 50px;
    padding: 20px;
    margin: 5px 2px;
}

#pic1 {
    height: 200px;
    align-self: center;

}
